@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Julius+Sans+One&display=swap');

* {
  box-sizing: border-box;
}
html {
  background-color: transparent;
}
$body-background-color: transparent;
$light: #d2e9e3;
$family-primary: 'Julius Sans One', sans-serif;
$link: white;
h1 {
  font-size: 3rem !important;
}
@import '~bulma';
body {
  margin: 0;
  width:100%;
  overflow-x:hidden;
}

.full-screen {
  min-height: -webkit-fill-available;
  width: 100vw;
}

.backgroundVideo {
  width: 100%;
  position: absolute;


}

.videoContainer {
  overflow: hidden;
  width:100%;
  position: absolute;

}

video {
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #040608;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.raw {
  display: flex;
  align-items: flex-end;
}

.nav {
  background-color: #cf3c47;
}


.backgroundVideo {
  width:100%;
  position: relative;
}

.arrow {
  position: absolute;
  color: #035efc;
  font-size: 3em;
}

nav {
  width: 100vw;
  margin: 0;
  padding: 0 50px 0 50px;
  top: 0;
  background-color: #cf3c47;
  color: white;
  z-index: 2;
}


ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navitem {
  height: 100%;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.navitem:hover {
  background: black;
  color: #fff;
}

.hoveredElement {
  background: #212121;
  color: #fff;
  height: 100%;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.hoveredElement:hover {
  background: black;
  color: #fff;
}

.fixed-nav {
  position: fixed;
}




@media only screen and (orientation: portrait) {
  h1 {
    font-size: 5rem !important;
  }
  .h1 {
    font-size: 5rem !important;
  }
  .h3 {
    font-size: 3rem !important;
  }
  .arrow {
    font-size: 5em;
  }

  nav {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navitem {
    font-size: 2.5rem;
    height: 150px;
  }
  .hoveredElement {
    height: 150px;
    font-size: 2.5rem;
  }


}
