@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Julius+Sans+One&display=swap');

* {
  box-sizing: border-box;
}
html {
  background-color: transparent;
}
$body-background-color: transparent;
$light: #d2e9e3;
$family-primary: 'Julius Sans One', sans-serif;
$link: white;

@import '~bulma';
body {
  height: 100%;
  margin: 0;
}



.full-screen {
  height: 100vh;
  width: 100vw;
}

.backgroundVideo {
  width:100%;
  position: absolute;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #040608;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.raw {
  display: flex;
  align-items: flex-end;
}

.nav {
  background-color: #cf3c47;
}

@media screen and (max-width: 600px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #040608;
  }
}

@media screen and (max-width: 300px) {
  .home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #040608;
  }

  .backgroundVideo {
    width:100%;
    position: relative;
  }
}

.z-index-1 {
  z-index: 5;
}

.arrow {
  position: absolute;
  top: 75%;
  color: #035efc;
  font-size: 3em;
}

nav {
  width: 100%;
  margin: 0;
  padding: 0 50px 0 50px;
  top: 0;
  background-color: #cf3c47;
  color: white;
  z-index: 1;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navitem {
  height: 100%;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.navitem:hover {
  background: black;
  color: #fff;
}

.hoveredElement {
  background: #212121;
  color: #fff;
  height: 100%;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.hoveredElement:hover {
  background: black;
  color: #fff;
}

.fixed-nav {
  position: fixed;
}
